<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CodeReviewUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="codeReviewUtility.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="sourceControlManagerSection" type="Utility.Library.Configuration.SourceControlMgrSection, Utility.Library, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <userSettings>
    <CodeReviewUtility.Properties.Settings>
      <setting name="StoreLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CodeReviewWindowWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CodeReviewWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="CreateCodeReviewWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="CreateCodeReviewWindowWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SourceLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="SendByEmail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="UseSVNComparer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlternateComparerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayItemsPopupWindowTop" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="DisplayItemsPopupWindowLeft" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdatesLocation" serializeAs="String">
        <value>ftp://129.221.31.86/ftp/Code Review Utility Installer/Updates</value>
      </setting>
      <setting name="ShowAuthorsCheckListAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowReviewersCheckListAtStartup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PreferredTool" serializeAs="String">
        <value>Git</value>
      </setting>
    </CodeReviewUtility.Properties.Settings>
    <codeReviewUtility.Properties.Settings>
      <setting name="StoreLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="CodeReviewWindowWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="CodeReviewWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="CreateCodeReviewWindowHeight" serializeAs="String">
        <value>700</value>
      </setting>
      <setting name="CreateCodeReviewWindowWidth" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="SourceLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="SendByEmail" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastUpdateCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="UseSVNComparer" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlternateComparerPath" serializeAs="String">
        <value />
      </setting>
      <setting name="DisplayItemsPopupWindowTop" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="DisplayItemsPopupWindowLeft" serializeAs="String">
        <value>750</value>
      </setting>
      <setting name="MainWindowTop" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="MainWindowLeft" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="EmailAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="UserName" serializeAs="String">
        <value />
      </setting>
      <setting name="Password" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdatesLocation" serializeAs="String">
        <value>ftp://129.221.31.86/ftp/Code Review Utility Installer/Updates</value>
      </setting>
    </codeReviewUtility.Properties.Settings>
  </userSettings>
  <sourceControlManagerSection>
    <managers>
      <!--<add name="Dimensions" assembly="Utility.Dimensions, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>-->
      <add name="SVN" assembly="Utility.SVN, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      <add name="Git" assembly="Utility.Git, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </managers>
  </sourceControlManagerSection>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
